
.topbar {
    width:100%;
    background:darkseagreen;
    padding:5px 80px;
    opacity:0.7;
}
.heroarea {
    background:url('image2.png') no-repeat center;
    width:100%;
    height:720px;
}
 
.navitem {
    padding:0 20px;
    opacity:1;
}
.iconspart i {
    padding-top:20px;
    font-size:22px;
    margin-left:3px;
    
}
.imgpart h1 {
    color:white;
    display:flex;
    justify-content: center;
    padding:100px 0 0 0;
    line-height:60px;
    
}
.imgpart p {
    display:flex;
    justify-content: center;
    color:white;
    padding-left:20px;
    
}
.btnarea{
    width:100%;
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    
}

.btnarea button {
    padding:6px 18px;
    border-radius:5px;
    background:#014B40;
    color:white;
    border:none;
    text-align: center;
}
.btnarea h5{
    margin: 0;
}
.btnarea h5 a {
    color:white;
    text-decoration: none;
    font-size:16px;    
}
.cardpart {
    width:100%;
    margin-top:50px;
    padding-bottom:30px;
    
}
.cardpart h4 {
    float:right;
    padding-right:20px;
    font-size:19px;
}
.card {
    width:100%;
    margin-top:30px;
    gap:30px;
    border:none;
    position:relative;
    overflow: hidden;
    
}
.hovereffect {
    position:absolute;
    bottom:0;
    opacity:1;
    color:white;
    width: 100%;
	z-index:1000;
    background:rgba(0,0,0,0.4);
    
} 
.hovereffect h5,.hovereffect p {
    padding-left:10px;
    
}
.card:hover .hovereffect {
    transition:2s;
    opacity:0.5;
    transform:translateY(-70%);
    background:rgba(0,0,0,0.9);
    bottom:20px;

}
.hovereffect button {
    padding:8px 25px;
    color:white;
    border-radius:5px;
    background:transparent;
    border:solid 1px white;
    margin-top:10px;
}
.move {
    height:200px;
    width:100%;
    background: url('srch.png') no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.search1 input[type=text] {
    width:100%;
    padding:15px 35px;
    border-radius:8px;
    margin-left:5px;
    box-sizing: border-box;   
}
.search2 i {
    font-size:25px;
    text-align:center;
    color:#014B40;
    padding:15px 20px;
    background:white;
    border-radius:5px;
}
.card {
    border-radius:13px;
}
.plants h3 {
    padding-top:20px;
}

.viewpart h2 {
    padding-top:20px;
}
.viewport p {
    padding-top:20px;
}
.viewpart p{
    float:right;
    padding-right:20px;
    font-size:19px;

}
.bottomsec {
    background-image:url('m8.png');
    border-radius:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    margin-top:30px;
    
}
.outer h1 {
    color:white;
    text-align:center;
    font-size: 45px;;
    padding-top:60px;
    line-height: 45px;;
}  
.outer h3 {
    color:white;
    text-align:center;
    padding-top:10px;
    font-size:20px;
    
}
.outer p {
    color:white;
    text-align:center;
}
.outer p i {
    color:white;
    text-align:center;
    font-size:20px;
}
.lastarea {
    width:100%;
    background:#014B40;
    margin-top:70px;
    padding:50px 50px;
}
.endarea p {
    color:white;
}
.news h4 {
    color:white;
    font-size:27px;
    padding-top:20px;
}
.news input {
    background:#2c6b62;
    border-radius:10px;
    padding:15px 40px;
    border:none;
    margin-top:20px;
}
.secondpart h4 {
    color:white;
    font-size:27px;
}
.secondpart p {
    color:white;
} 
.thrdpart p {
    color:white;
}
.thrdpart h4 {
    color:white;
}
.contactpart h4 {
    color:white;
    
}
.contactpart h5 {
    color:white;
    font-size:17px;
}
.contactpart p{
    color:#7AA09B;
    line-height:2px;
    margin-top:17px;
}
.contactpart i {
    color:white;
    font-size:20px;
    background:#1A5D53;
    border-radius:50%;
    padding:15px 15px;
}
.contactpart i:hover {
    color:cyan;
}
.lastbox{
    background:#2c6b62;
    border-radius:10px;
    padding:18px 18px;
    margin-top:20px;
}
.secure p {
    color:white;
}
.lasticon {
    display: flex;
    gap:20px;
    justify-content: flex-end;
    
}
.lasticon i {
    font-size:22px;
    color:white;
    cursor:pointer; 
}
.lasticon i:hover {
    color:red;
}
